body {
  margin: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem;
}

.header {
  width: 100vw;
  height: 15vh;
  background: url(/img/CP2.jpg);
}

.countdown {
  font-family: sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.timer {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.numbers {
  text-align: center;
}

.labels {
  font-family: sans-serif;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  font-family: sans-serif;
  background-color: pink;
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.made {
  padding-bottom: 20px;
}
